<% if obj.errors.any? %>
  <div class="my-5 p-4 border-2">
    <ul class="text-red-600">
    <h2 class="text-2xl"><%= icon_with_text("solid", "triangle-exclamation", "Errors") %></h2>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
